# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
air_bnb = pd.read_csv('../weekend-project/AB_NYC_2019.csv')
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [29]:
# How many neighborhood groups are available and which shows up the most?
groups = air_bnb.groupby(['neighbourhood_group']).sum()

groups.sort_values('calculated_host_listings_count', ascending = False).head(1)


# ANSWER -- 5 groups, Manhattan shows up most with 277,073 host listings.

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,
Manhattan,406683958152,1469279004836,883012.0168,-1.602364e+06,4264527,185833,454569,21158.08,277073,2425586

In [64]:
# Are private rooms the most popular in manhattan?
air_bnb

popularRooms = air_bnb.groupby(['room_type', 'neighbourhood_group']).count().sort_values('neighbourhood', ascending = False)


popularRooms


## ANSWER -- No, Entire home/apartment are more popular.

                                        id   name  host_id  host_name  \
room_type       neighbourhood_group
Entire home/apt Manhattan            13199  13193    13199      13196
Private room    Brooklyn             10132  10127    10132      10128
Entire home/apt Brooklyn              9559   9558     9559       9554
Private room    Manhattan             7982   7979     7982       7976
                Queens                3372   3372     3372       3370
Entire home/apt Queens                2096   2096     2096       2096
Private room    Bronx                  652    652      652        652
Shared room     Manhattan              480    480      480        480
                Brooklyn               413    413      413        413
Entire home/apt Bronx                  379    379      379        378
Shared room     Queens                 198    198      198        198
Private room    Staten Island          188    188      188        188
Entire home/apt Staten Island          176    176      176        176
Shared room     Bronx                   60     59       60         60
                Staten Island            9      9        9          9

                                     neighbourhood  latitude  longitude  \
room_type       neighbourhood_group
Entire home/apt Manhattan                    13199     13199      13199
Private room    Brooklyn                     10132     10132      10132
Entire home/apt Brooklyn                      9559      9559       9559
Private room    Manhattan                     7982      7982       7982
                Queens                        3372      3372       3372
Entire home/apt Queens                        2096      2096       2096
Private room    Bronx                          652       652        652
Shared room     Manhattan                      480       480        480
                Brooklyn                       413       413        413
Entire home/apt Bronx                          379       379        379
Shared room     Queens                         198       198        198
Private room    Staten Island                  188       188        188
Entire home/apt Staten Island                  176       176        176
Shared room     Bronx                           60        60         60
                Staten Island                    9         9          9

                                     price  minimum_nights  number_of_reviews  \
room_type       neighbourhood_group
Entire home/apt Manhattan            13199           13199              13199
Private room    Brooklyn             10132           10132              10132
Entire home/apt Brooklyn              9559            9559               9559
Private room    Manhattan             7982            7982               7982
                Queens                3372            3372               3372
Entire home/apt Queens                2096            2096               2096
Private room    Bronx                  652             652                652
Shared room     Manhattan              480             480                480
                Brooklyn               413             413                413
Entire home/apt Bronx                  379             379                379
Shared room     Queens                 198             198                198
Private room    Staten Island          188             188                188
Entire home/apt Staten Island          176             176                176
Shared room     Bronx                   60              60                 60
                Staten Island            9               9                  9

                                     last_review  reviews_per_month  \
room_type       neighbourhood_group
Entire home/apt Manhattan                   9967               9967
Private room    Brooklyn                    7993               7993
Entire home/apt Brooklyn                    8164               8164
Private room    Manhattan                   6309               6309
                Queens                      2680               2680
Entire home/apt Queens                      1742               1742
Private room    Bronx                        524                524
Shared room     Manhattan                    356                356
                Brooklyn                     290                290
Entire home/apt Bronx                        309                309
Shared room     Queens                       152                152
Private room    Staten Island                159                159
Entire home/apt Staten Island                150                150
Shared room     Bronx                         43                 43
                Staten Island                  5                  5

                                     calculated_host_listings_count  \
room_type       neighbourhood_group
Entire home/apt Manhattan                                     13199
Private room    Brooklyn                                      10132
Entire home/apt Brooklyn                                       9559
Private room    Manhattan                                      7982
                Queens                                         3372
Entire home/apt Queens                                         2096
Private room    Bronx                                           652
Shared room     Manhattan                                       480
                Brooklyn                                        413
Entire home/apt Bronx                                           379
Shared room     Queens                                          198
Private room    Staten Island                                   188
Entire home/apt Staten Island                                   176
Shared room     Bronx                                            60
                Staten Island                                     9

                                     availability_365
room_type       neighbourhood_group
Entire home/apt Manhattan                       13199
Private room    Brooklyn                        10132
Entire home/apt Brooklyn                         9559
Private room    Manhattan                        7982
                Queens                           3372
Entire home/apt Queens                           2096
Private room    Bronx                             652
Shared room     Manhattan                         480
                Brooklyn                          413
Entire home/apt Bronx                             379
Shared room     Queens                            198
Private room    Staten Island                     188
Entire home/apt Staten Island                     176
Shared room     Bronx                              60
                Staten Island                       9

In [96]:
# Which hosts are the busiest and based on their reviews?

popularHost = air_bnb.groupby('host_name').sum()[['number_of_reviews']]

popularHost.sort_values('number_of_reviews', ascending = False)


# ANSWER -- Host Michael is busiest with 11,081 reviews.

                 number_of_reviews
host_name
Michael                      11081
David                         8103
John                          7223
Jason                         6522
Alex                          6204
...                            ...
Rabah                            0
Rabi & Soukaina                  0
Rachad                           0
Rachel & Alex                    0
현선                               0

[11452 rows x 1 columns]

In [104]:
#Which neighorhood group has the highest average price?
averagePrice = air_bnb[['price','name', 'neighbourhood_group']]




neighbourhood = air_bnb['neighbourhood_group']



price = air_bnb['price']


newAve = []

for ave in range(len(price)):
    newAve.append(price[ave])


zipped_values = list(zip(newAve, neighbourhood))



sorted_price = sorted(zipped_values, key = lambda x: x[1], reverse = True)
print(sorted_price[0:1])



# ANSWER -- Staten Island with an average price of 70.

[(70, 'Staten Island')]

In [218]:
# Which neighbor hood group has the highest total price?
air_bnb

totalPrice = air_bnb.groupby(['price','neighbourhood_group']).sum('price').sort_values('price', ascending = False).count


print(totalPrice)



# ANSWER -- Manhattan

<bound method DataFrame.count of                                   id    host_id   latitude  longitude  \
price neighbourhood_group
10000 Queens                 7003697   20582832   40.76810  -73.91651
      Manhattan             22436899   72390391   40.77213  -73.98665
      Brooklyn              13894339    5143901   40.73260  -73.95739
9999  Manhattan             45607133    9523661  122.22599 -221.90971
8500  Manhattan             23377410   18128455   40.72197  -74.00633
...                              ...        ...        ...        ...
10    Bronx                 27316669  205820814   40.83454  -73.92751
      Queens                72798012  341687667  122.07163 -221.45888
0     Manhattan             20933849   13709292   40.75091  -73.97597
      Brooklyn             185022321  499476212  366.24877 -665.31972
      Bronx                 20333471  131697576   40.83296  -73.88668

                           minimum_nights  number_of_reviews  \
price neighbourhood_group
10000 Queens                          100                  2
      Manhattan                        30                  0
      Brooklyn                          5                  5
9999  Manhattan                       134                  7
8500  Manhattan                        30                  2
...                                   ...                ...
10    Bronx                             1                  0
      Queens                           10                 69
0     Manhattan                         3                  0
      Brooklyn                         76                322
      Bronx                             2                 55

                           reviews_per_month  calculated_host_listings_count  \
price neighbourhood_group
10000 Queens                            0.04                               1
      Manhattan                         0.00                               1
      Brooklyn                          0.16                               1
9999  Manhattan                         0.16                               3
8500  Manhattan                         0.18                               1
...                                      ...                             ...
10    Bronx                             0.00                               1
      Queens                            3.85                               4
0     Manhattan                         0.00                               1
      Brooklyn                         14.81                              42
      Bronx                             2.56                               4

                           availability_365  int_price
price neighbourhood_group
10000 Queens                              0      10000
      Manhattan                          83      10000
      Brooklyn                            0      10000
9999  Manhattan                         448      29997
8500  Manhattan                         251       8500
...                                     ...        ...
10    Bronx                             180         10
      Queens                            764         30
0     Manhattan                           0          0
      Brooklyn                         1203          0
      Bronx                             127          0

[1542 rows x 10 columns]>

In [215]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby(['host_name', 'neighbourhood_group']).sum().sort_values('price', ascending = False)



#ANSWER --  Sonder(NYC), Blueground, Michael, David, Alex

,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,int_price
host_name,neighbourhood_group,,,,,,,,,,,
Sonder (NYC),Manhattan,10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588,82795
Blueground,Manhattan,7142993903,24709917290,9370.18553,-17018.18255,69741,7410,29,6.04,53360,58347,69741
Michael,Manhattan,3752281462,11887197922,8641.23026,-15683.53955,42093,3510,6036,258.41,756,21011,42093
David,Manhattan,3985751906,14502966311,8234.56426,-14942.79926,40366,2301,3983,236.32,558,22461,40366
Kara,Manhattan,1830785194,4212479709,5501.79014,-9988.23695,35828,3814,160,7.68,14669,38470,35828
...,...,...,...,...,...,...,...,...,...,...,...,...
Salim,Manhattan,24114389,180661875,40.76844,-73.98333,10,1,2,0.13,1,0,10
Luz,Bronx,27316669,205820814,40.83454,-73.92751,10,1,0,0.00,1,180,10
Vishanti & Jeremy,Brooklyn,21869057,11967922,40.72421,-73.95364,10,1,93,4.73,1,32,10
Qiuchi,Manhattan,20933849,13709292,40.75091,-73.97597,0,3,0,0.00,1,0,0
Aymeric,Brooklyn,20624541,10132166,40.70838,-73.94645,0,5,3,0.15,1,73,0

In [213]:
# Who currently has no (zero) availability with a review count of 100 or more?

# avaliable = air_bnb[['host_name', 'number_of_reviews','availability_365']]

# for i in available:
#     if i['number_of_reviews'] > 100 and i['availability_365'] == 0:
#     return avaliable

## I worked on this one for a while and tried different ways and cant get it.

IndentationError: expected an indented block (<ipython-input-213-e79ac36f2625>, line 7)

In [219]:
# What host has the highest total of prices and where are they located?
air_bnb

air_bnb.groupby(['host_name', 'neighbourhood_group','neighbourhood']).sum().sort_values('price', ascending = False)


## ANSWER -- Sonder(NYC), Financial District, Manhattan

,,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,int_price
host_name,neighbourhood_group,neighbourhood,,,,,,,,,,,
Sonder (NYC),Manhattan,Financial District,7243034001,47854893698,8874.12354,-16134.19302,57738,1786,1129,354.27,71286,68225,57738
Red Awning,Manhattan,Midtown,1415225676,10046545705,1996.92821,-3624.34656,35294,750,127,21.21,2401,10796,35294
Kevin,Manhattan,Chelsea,228036044,75986896,448.21455,-814.01679,20003,18,50,1.84,43,1730,20003
Jessica,Brooklyn,Clinton Hill,96683486,75258707,610.35668,-1109.50362,15804,58,607,10.45,125,4014,15804
Henry,Manhattan,Upper West Side,50490959,7525512,367.01475,-665.82571,15000,270,227,3.57,99,2914,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jennifer,Manhattan,SoHo,17979764,84497333,40.72237,-73.99817,10,5,2,0.07,1,0,10
Maureen,Manhattan,Kips Bay,24412104,91034542,40.74408,-73.97803,10,5,42,2.87,1,2,10
Vishanti & Jeremy,Brooklyn,Greenpoint,21869057,11967922,40.72421,-73.95364,10,1,93,4.73,1,32,10
Aymeric,Brooklyn,Williamsburg,20624541,10132166,40.70838,-73.94645,0,5,3,0.15,1,73,0
Qiuchi,Manhattan,Murray Hill,20933849,13709292,40.75091,-73.97597,0,3,0,0.00,1,0,0

In [312]:
# When did Danielle from Queens last receive a review?
air_bnb
danielle = air_bnb[air_bnb['host_name'] =='Danielle']
danielle


danielle_queens = danielle[danielle['neighbourhood_group'] == 'Queens']
last_review = danielle_queens.sort_values('last_review', ascending = False)

last_review

## Danielle from Queens last review was 2019-07-08.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,int_price
22469,18173787,Cute Tiny Room Family Home by LGA NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76380,-73.87238,Private room,48,1,436,2019-07-08,16.03,5,337,48
21517,17222454,Sun Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76367,-73.87088,Private room,48,1,417,2019-07-07,14.36,5,338,48
20403,16276632,Cozy Room Family Home LGA Airport NO CLEANING FEE,26432133,Danielle,Queens,East Elmhurst,40.76335,-73.87007,Private room,48,1,510,2019-07-06,16.22,5,341,48
22068,17754072,Bed in Family Home Near LGA Airport,26432133,Danielle,Queens,East Elmhurst,40.76389,-73.87155,Shared room,38,1,224,2019-07-06,7.96,5,80,38
7086,5115372,Comfy Room Family Home LGA Airport NO CLEANING...,26432133,Danielle,Queens,East Elmhurst,40.76374,-73.87103,Private room,54,1,430,2019-07-03,13.45,5,347,54
33861,26814763,One bedroom with full bed / 1 stop from Manhattan,201647469,Danielle,Queens,Long Island City,40.74565,-73.94699,Private room,108,2,13,2019-06-20,1.74,1,333,108
27021,21386105,Quiet & clean 1br haven with balcony near the ...,154256662,Danielle,Queens,Astoria,40.77134,-73.92424,Entire home/apt,250,3,1,2018-01-02,0.05,1,180,250
16349,13151075,ASTORIA APARTMENT OUTDOOR SPACE,18051286,Danielle,Queens,Astoria,40.77221,-73.92901,Private room,50,1,0,NaN,NaN,1,0,50

## Further Questions

1. Which host has the most listings?

In [273]:
air_bnb

air_bnb.groupby(['host_name','calculated_host_listings_count']).sum().sort_values('calculated_host_listings_count', ascending = False)


## ANSWER -- Sonder(NYC), 327 total listings.

,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,int_price
host_name,calculated_host_listings_count,,,,,,,,,,
Sonder (NYC),327,10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,98588,82795
Blueground,232,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,58884,70331
Kara,121,1611854192,3664314874,4931.41347,-8952.50779,33581,3767,65,3.94,37924,33581
Kazuya,103,3121544245,14147963198,4197.55601,-7612.96008,4514,3090,87,22.68,20237,4514
Sonder,96,2517132868,1175332896,3909.55849,-7103.58856,20451,2784,43,8.65,26555,20451
...,...,...,...,...,...,...,...,...,...,...,...
Isadora,1,36836493,145206928,81.39343,-147.88582,140,4,10,0.42,0,140
Isai,1,19872361,13349759,40.72589,-73.97726,75,3,0,0.00,0,75
Isai Jesse,1,26951069,202788450,40.72460,-73.97687,58,4,20,1.69,10,58
Isaiah,1,39072716,100138203,122.07273,-221.80813,228,5,41,0.78,177,228
현선,1,26139678,18497228,40.80485,-73.96534,1200,60,0,0.00,365,1200

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --